<%- model_class = Question -%>
<div class="page-header">
  <h1>Nova Pergunta / Resposta</h1>
</div>
<%= render :partial => 'form' %>

<div class="jumbotron">
	<h3><font color="red">Aviso:</font></h3>
	<h4>Lembre-se que a categoria <b>Agenda</b> não possui questionário com perguntas e respostas!.</h4>
